.skill{
    user-select: none;
    position: relative;

    color: var(--text-color);

    border-radius: 20px;
    border: 2px solid var(--border-color);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    min-width: 150px;
    font-size: 16px;
    height: 40px;

    padding: 0px 20px;
    margin: 0 auto;

    img {
        height: 70%;
        filter: var(--link-filter);
    }
}

@media (max-width: 630px){
    .skill{
        padding: 0 15px;
    }
}