.loader_bottom,
.loader_top{
    position: fixed;
    width: 100vw;
    height: 50%;
    left: 0;
    font-size: 50px;

    font-family: 'Exo 2', sans-serif;

    animation: forwards ease-in 4s;
    
    background-color: #121212;
    z-index: 25;
}

.loader_top{
    top: 0;

    background-color: var(--bg);
    display: flex;
    align-items: flex-end;
    padding-bottom: 30px;
    
    animation-name: move-up;
}

.loader_bottom{
    bottom: 0;
    
    background-color: var(--bg);
    display: flex;
    justify-content: center;

    padding-top: 100px;

    animation-name: move-down;
}

.text_wrapper{
    position: relative;
    margin: 0 auto;
}

.loader-text{
    overflow: hidden;
    white-space: nowrap;
    
    z-index: 11;
    width: 18ch;
    
    font-size: 50px;
    line-height: 1.2em;

    font-family: monospace;
    
    border-right: 3px solid orange;

    animation:
        type 2s steps(18, end), 
        blink .7s step-end infinite;
}

@keyframes type{
    from{ width: 0;}
}

@keyframes blink {
    0%, 100% {border-color: transparent;}
    50% {border-color: orange;}
}

@keyframes move-up {
    0% {}
    80% {transform: translateY(0);}
    100%{transform: translateY(-130%); display: none;}
}
@keyframes move-down {
    0% {}
    80% {transform: translateY(0);}
    100%{transform: translateY(130%); display: none;}
}

.heart{
    width: 24px;
    height: 24px;
    background-color: red;

    transform: scale(7);

    clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
}


@media (max-width: 630px){
    .loader-text { font-size: 40px }
    .heart { transform: scale(6) }
}

@media (max-width: 505px){
    .loader-text { font-size: 35px }
    .heart { transform: scale(5) }
}

@media (max-width: 370px){
    .loader-text { font-size: 30px }
    .heart { transform: scale(4) }
}