.theme_changer{
    position: relative;

    display: block;

    height: 30px;
    width: 60px;
    
    border-radius: 20px;

    background-color: white;

    & .toggle{
        display: block;
        position: relative;
        left: 0;
        top: 50%;

        border-radius: 50%;
        outline: 2px solid white;
        outline-offset: -1px;

        background-color: black;

        width: 25px;
        aspect-ratio: 1/1;

        overflow: hidden;

        transition: transform .5s ease, background-color .5s ease-out;
        transform: translate(20%, -50%);

        &::before{
            content: "";
            display: block;
            position: absolute;
            right: -40%;
            top: -30%;

            background-color: white;

            border-radius: 50%;
            aspect-ratio: 1/1;
            width: 105%;

            transition: transform .5s ease;
        }
    }
}

.theme{
    position: absolute;
    width: 0 !important;
    height: 0 !important;
    visibility: hidden;
    opacity: 0;

    &:checked + .theme_changer{
        & span{
            background-color: orange;
            transform: translate(120%, -50%);

            &::before{
                transform: translate(50%, -50%);
            }
        }
    }
}


@media (min-width: 2000px){
    .theme_changer{
        height: 40px;
        width: 80px;

        & .toggle{
            width: 30px;
        }
    }
}