:root {
	--main-fz: 18px;
	--hello-fz: 20px;
	--position-fz: 40px;
	--desk-h: 400px;
	--shelf-h: 15px;
}

.main {
	display: flex;
	align-items: center;
	justify-content: space-around;
	z-index: 2;

	height: 110vh;
}

.intro {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 45%;
	margin-right: 50px;

	.text {
		opacity: 0;
		font-size: var(--main-fz);
		line-height: 1.7em;
		transform: translateX(-100%);
		animation: show-text 1s 6s ease;
		animation-fill-mode: forwards;
	}
}

.hello {
	opacity: 0;
	font-size: var(--hello-fz);
	transform: translateX(-100%);

	animation: show-text 0.5s 4s ease;
	animation-fill-mode: forwards;
}

.position {
	opacity: 0;
	font-size: var(--position-fz);
	text-transform: capitalize;
	line-height: 1em;

	margin: 15px 0;

	transform: translateX(-100%);
	animation: show-text 1s 5s ease;
	animation-fill-mode: forwards;
}

@keyframes show-text {
	0% { opacity: 0 }
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.desk {
	position: relative;
	pointer-events: none;
	height: var(--desk-h);
	opacity: 0;
	z-index: 2;
	aspect-ratio: 4/3;

	animation: appear 0.5s 3.6s ease forwards;
}

@keyframes appear {
	0% { opacity: 0 }
	100% { opacity: 1}
}

.shelf {
	position: absolute;

	width: 100%;
	height: var(--shelf-h);
	bottom: 0;
	right: 0;

	border-radius: 10px;
	background-color: #303030;
}

.cup {
	position: absolute;
	height: 80px;

	bottom: var(--shelf-h);
	right: 20px;

	img { height: 100% }
}

.cactus {
	position: absolute;
	height: 160px;

	bottom: calc(var(--shelf-h) - 1px);
	left: -20px;

	img { height: 100% }
}

.lamp {
	position: absolute;
	height: 100px;

	z-index: 16;

	top: 10px;
	right: -7px;

	filter: grayscale(1);

	transition: filter 0.2s ease;
	animation: lamp-on 1s 7s ease-out forwards;

	img {
		height: 100%;
		transform: rotateY(180deg);
	}

	&.init { animation: lamp-on 2s 0.4s ease-out forwards }
}

@keyframes lamp-on {
	0% { filter: grayscale(1) }
	100% { filter: grayscale(0) }
}
@keyframes lamp-off {
	0% { filter: grayscale(0) }
	100% { filter: grayscale(1) }
}

.wall {
	position: absolute;
	width: var(--shelf-h);
	height: 100%;

	right: 0;
	top: 0;

	border-radius: 20px;
	background-color: #303030;
}

.light {
	position: absolute;
	z-index: 0;

	width: 100px;
	height: 0;
	opacity: 0;

	border-bottom: calc(var(--desk-h) - 55px) solid rgba(255, 255, 120, 0.699);
	border-left: 400px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 100px;

	right: 10px;
	top: 50px;

	animation: light-on 2s 7s linear forwards;
	transition: all 0.2s ease;

	&.init { animation: light-on 2s 0.4s linear forwards }
}

html.white {
	.light { animation: light-off 0.2s linear forwards }
	.lamp { animation: lamp-off 1s linear forwards }
}

@keyframes light-off {
	0% { opacity: 1 }
	100% {
		opacity: 0;
		display: none;
	}
}

@keyframes light-on {
	0% { opacity: 0 }
	10% { opacity: 0.4 }
	15% { opacity: 0.2 }
	20% { opacity: 0.5 }
	25% { opacity: 0.2 }
	40% { opacity: 1 }
	100% { opacity: 1 }
}

@keyframes lamp-off {
	0% { filter: grayscale(0) }
	100% { filter: grayscale(1) }
}
@keyframes lamp-on {
	0% { filter: grayscale(1) }
	10% { filter: grayscale(0.6) }
	15% { filter: grayscale(0.8) }
	20% { filter: grayscale(0.5) }
	25% { filter: grayscale(0.8) }
	40% { filter: grayscale(0) }
	100% { filter: grayscale(0) }
}

@media (max-width: 1110px) {
	:root { --desk-h: 300px }

	.light {
		border-left-width: 320px;
		right: 0;
		top: 40px;
	}

	.cactus {
		height: 100px;
		left: 5px;
	}

	.cup {
		height: 65px;
		right: 15px;
	}

	.lamp {
		height: 80px;
		right: -3px;
	}
}

@media (max-width: 948px) {
	.main {
		flex-direction: column-reverse;
		height: auto;
	}

	.desk { margin-top: 120px }

	.intro {
		margin-top: 120px;
		max-width: 90%;
	}

	:root { --desk-h: 400px }
}

@media (max-width: 630px) {
	.desk {
		margin-top: 130px;
		animation-delay: 3.8s;
	}

	.intro {
		margin-top: 100px;
		margin-right: 0;
		max-width: 90%;
	}

	:root { --desk-h: 300px }

	.main_inner{
		font-size: 5px;
	}
}

@media (max-width: 505px) {
	.desk {
		margin-top: 75px;
		overflow: hidden;
	}

	.cactus { height: 80px }
	.cup { height: 50px }
	.lamp { height: 70px }

	.light {
		border-left-width: 270px;
		right: -10px;
	}

	.intro {
		margin-top: 40px;
		max-width: 100%;
	}

	.position { margin: 10px 0 }

	:root {
		--desk-h: 250px;
		--main-fz: 19px;
		--hello-fz: 30px;
		--position-fz: 45px;
	}
}
