.skills-wrapper{
    height: 100%;
    width: 100%;
    
    background-color: var(--bg-section);
    box-shadow: var(--section-box-shadow);
    
    border-radius: 50px;
    margin: 0 auto;

    transition: background-color .3s ease;
    
    .title{
        text-align: center;
        width: 100%;
        margin: 0 auto;
        
        border-bottom: 3px solid var(--border-color);
        padding: 20px 0;
    }
}

.skills_inner{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

    gap: 15px 20px;
    padding: 40px 30px 100px;
}

@media (max-width: 630px){
    .skills_inner{
        padding: 40px 10px 100px 20px;
    }
}