@media (max-width: 1240px){
    .project_title{
        margin-bottom: 20px;
        font-size: 35px;
    }

    .projects .project.in-proсess .inner::before{
        font-size: 35px;
    }

    .new{
        font-size: 16px;
    }
}


@media (max-width: 921px){
    .project{
        width: 60%;
    }
}

@media (max-width: 767px){
    .projects{
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .projects__inner{
        padding-bottom: 30px;
    }

   .project{
        padding-bottom: 0;
        width: 70%;
    }

    .new{
        font-size: 16px;
        top: -23px;
        right: -5%;
    }
}


@media (max-width: 600px){
    .projects{
        .title{
            font-size: 45px;
        }
    }

    .project{
        .inner{
            &:hover{
                .project_image{
                    transform: translate(-5px, -5px);
                    box-shadow: 3px 3px 10px #000;
                }
            }
        }

    }

    .project_image{
        box-shadow: 0px 0px 6px #1e4d7f;
    }

    
    .project_title{
        font-size: 30px;
    }

    .projects .project.in-proсess .inner::before{
        font-size: 30px;
    }

    .new{
        font-size: 14px;
        top: -20px;
    }
}

@media (max-width: 491px){
    .projects{
        padding-top: 50px;
        padding-bottom: 50px;

        .title{
            margin-bottom: 50px;
        }
    }

    .project{
        width: 100%;
    }
}