.header{
    display: flex;
    position: absolute;
    width: 90%;
    justify-content: space-between;

    align-items: center;
    z-index: 10;
    
    padding: 20px 50px;

    &.fixed{
        position: fixed;
        width: 100%;
        left: 0;
        
        background-color: var(--bg-header);
        border-bottom: 2px solid var(--border-color);
        
        transform: translateY(-120%);
        animation: show-header .5s ease forwards;
    }
    
    &.hiding{
        animation: hide-header .2s ease;
    }
}

@keyframes show-header {
    0%{}
    100%{transform: translate(0, 0);}
}

@keyframes hide-header {
    0%{
        left: 0;
        width: 100%;
        position: fixed;
        transform: translate(0, 0);
        
        background-color: var(--bg-header);
        border-bottom: 2px solid var(--border-color);
    }
    100%{
        left: 0;
        width: 100%;
        position: fixed;
    
        background-color: var(--bg-header);
        border-bottom: 2px solid var(--border-color);
        transform: translateY(-120%);
    }
}

.links{
    display: flex;
    gap: 30px;
}

.link{
    img {
        max-height: 30px;
        filter: var(--link-filter);
    }
}

@media (max-width: 948px) {
    .link img{
        height: 35px;
    }

    .header{     
        padding: 15px 20px;
        width: 100%;
        left: 0;
    }
}