*{ padding: 0; margin: 0; border: 0; -webkit-tap-highlight-color: transparent; user-select: inherit;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box; box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html, body{ height: 100%; width: 100%; font-size: 100%; line-height: 100%; font-size: 14px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img{vertical-align: top;}

html {background-color: #242424;}

body{
  min-height: 100vh;
  height: fit-content;
  -webkit-font-smoothing: antialiased;
  
  color: white;
  font-family: 'Open Sans', sans-serif;

  background-color: #020206;
  background: -webkit-linear-gradient(to left bottom, #323232, #000000);
  background: linear-gradient(to left bottom, #323232, #000000);
  background-attachment: fixed;
  
  font-size: 18px;
  line-height: normal;

  transition: all .5s ease;
  
  animation: rotation 15s ease infinite;
}

body::-webkit-scrollbar {width: 10px;}
body::-webkit-scrollbar-track {background: transparent;}
body::-webkit-scrollbar-thumb {
  width: 1px;
  border-radius: 8px;
  background: #615d5d;
  background-clip: content-box;
}

body.white::-webkit-scrollbar-track {background: transparent;}
body.white::-webkit-scrollbar-thumb{background-color: white;}

.app{
  margin: 0 auto;
  padding-bottom: 80px;
  max-width: 90%;
}

body.white{
  color: black;
  background-image: linear-gradient(to left bottom, #cfcfcf, #979797);
}

.ft {transition: filter .5s ease;}

.no-select {user-select: none;}
.pointer {cursor: pointer;}

.skills{
  display: flex;
  gap: 20px;
}